.atlas__header {
    height: 40vh;
}
.atlas__headertitle {
    text-transform: uppercase;
    color: goldenrod;
    -webkit-text-stroke: 2px black;
    text-align: center;
    line-height: 2em;
    font-size: 100%;   
}
.atlas__headersubtitle {
    color: black;
    font-size: 100%;
}