
.atlas__nav {
    border: 3px solid pink;
    height: 20vh;
}
.atlas__navlinks {
    display: flex;
    justify-content: space-between;
border: 2px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
   }
.article__navlink {
    text-decoration: none;
    color: red;
    font-size: 60%;
    border: 2px solid green; 
height: 100%;   
}