.atlas__asideview {
    display: flex;
    
}
.atlas__asideviewstory {
    border: 3px solid black;
    width: 33%;
    margin-top: 1em;
}
.atlas__asideviewstoryheadline {
    text-align: center;
    color: gold;
    -webkit-text-stroke: 1px red;
    font-size: .5em;
    text-transform: capitalize;
}
.atlas__asidesviewtorysmalltext {
    font-size: 30%;
    columns: 3;
    
    
}
.atlas__asidestorygoodluck {
    color: goldenrod;
    /* margin: 2em; */
}
.atlas__asideviewworld {
    display: flex;
    flex-direction: column;
    width: 290px
}
.atlas__globeandtext {
    display: flex;
    max-width: 100%;
}
    .fas.fa-globe-europe {
    margin-top: .1em;
    color: purple;
    font-size: 3em
}

.fas.fa-globe-asia {
    font-size: 3em;
    color: darkblue;
}

.fas.fa-globe-americas {
    font-size: 3em;
    color: aquamarine;
    
}
.text {
    font-size: .5em;
}



